<div style="height: 100vh" class="uk-container uk-container-large">
    <h1 class="uk-text-secondary">What's city poppin'?</h1>
    <p class="uk-text-lead">The official URL shortening service for SeasideFM.</p>
    <form method="post" action="/users/new">
        <label>
            <input class="uk-input" placeholder="Email" name="email" type="email"/>
        </label>
        <label>
            <input class="uk-input" placeholder="Password" name="password" type="password" />
        </label>
        <button type="submit">
            Login
        </button>
    </form>
</div>